{% extends 'portfolio_app/layout.html' %}
{% block div %}
<div id="aboutMe">
    <h1>ABOUT ME</h1>
    <div class="about">
        <img src="../static/images/rex.jpg">
        <p>Hi, there! Thanks for checking out my site. My name is <span class="orange">Rexford Wiafe</span>. I have a passion for coding and I love problem solving. As a former Engineering Technician, turned Construction Project Manager, and now Software Engineer, I couldn't get away from my initial passion for coding which lead me to earn my BS degree in Computer Science. Programming allows me to continue to build useful programs and solve problems while satisfying my intellectual curiosity for learning new technologies. I aspire to work as part of a diverse team that fosters personal and professional growth, solving big challenges that impact the lifes of people all around the world.</p>
    </div>
</div>
{% endblock %}