{% extends 'portfolio_app/layout.html' %}
{% block title %}<title>Number Guessing Game</title>{% endblock %}
{% block script %}
<script src="../static/js/numberGuess.js"></script>
{% endblock %}
{% block div %}
<div class="ngbody">
<div id="mainDiv" class="vstack gap-4 container-fluid myContainer">
    <div id="wrongIcon" class="hide"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg wrongIcon" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg></div>
    <h1 class="ngh1">Let's Play the Number Guessing Game!</h1>
    <h5>Hint: The correct number is between 1 and 100 inclusive. Good Luck!</h5>
    <h5 id="guessCount"></h5>
    <form onsubmit="GuessingGame(event)">
      <div style="align-items: center;" class="vstack gap-4">
        <input type="text" pattern="[0-9]+" id="userGuess" class="inputBox" autofocus autocomplete="off" required>
        <h5 id="response"></h5>
        <button id="submitBtn" class="btn btn-success">Submit</button>
        <button id="restart" class="btn btn-primary hide" onclick="location.reload(true)">Restart Game</button>
      </div>
    </form>
  </div>
</div>
{% endblock%}