{% extends 'portfolio_app/layout.html' %}
{% block div %}
<div class="projects">
<div id="myCarousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/numberGuessingGame"><img src="../static/images/numberGuess.png" class="d-block w-100" alt="Number Guessing Game"></a>
      </div>
      <div class="carousel-item">
        <a href="/eCommerce" target="_blank"><img src="../static/images/eCommerce.png" class="d-block w-100" alt="E-Commerce Store"></a>
      </div>
      <div class="carousel-item">
        <a href="/numberGuessingGame"><img src="../static/images/numberGuess.png" class="d-block w-100" alt="Number Guessing Game"></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
{% block footer %}
    <footer class="fixed-bottom">
        <strong>&copy 2022 Rexford Wiafe</strong>
    </footer>
{% endblock %}